/*General attribute styling*/

body{
    background: #E8E8E8;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: georgia, serif;

    
}



header h1{
    text-align: center;
    font-size: 3em;
}
h1 span{
    font-size: .5em;
    font-weight: normal;
    font-style: italic;
}
/*Main will act as a wrapper for the items within, make them a row and the media query can make them a column for mobile use*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.main_text{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

}

/*These are all the left side blocks*/
.block_1, .block_2{
    background-color: white;
    margin-left: 1em;
    box-shadow: 2px 5px 10px 3px #AAAAAA;
    border: .5px solid grey;
    padding: 1em;
    max-width: 600px;
}
.block_1{
    font-size: 20px;
}
.block_2{
    font-size: 16px;

}

.main_text ul{
    list-style: none;
    width: 100%;
    padding: 0;
    text-align: center;
}
.main_text ul li{
    padding: .5em;
    font-size: 20px;
}

a{/*probably will want this global*/
    text-decoration: none;
    color: black;
    transition-duration: 0.2s;
}
a:hover{
    color: grey;
    transition-duration: 0.2s;
}

.main_text p{
    padding-left: 1em;
    padding-right: 1em;
}
/*For pictures or media on the side*/
.side_picture{
    width: 30%;
    max-width: 400px;
    background-color: white;
    height: auto;
    margin: 1em;
    padding: 0.5em;
    box-shadow: 2px 5px 10px 3px #AAAAAA;
    border: .5px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#old_seth{
    width: 100%;
}
#cv_button{
    width: 80%;
    height: 2em;
    font-size: 1em;
    border-radius: 10px;
    margin: 10px;
    border: none;
    background-color: white;
    transition-duration: 0.4s;
    font-family: georgia;
}
#cv_button:hover{
    background-color: #c9c9c9;
    transform: scale(1.05);
    transition-duration: 0.3s;
}
#cv_button a:hover{
    color: black;
}
/*This will be used for kind of the "main" content such as tables*/
.bottom_content{
    width: 90%; 
}
.info_lists{
    background-color: white;
    margin: 1em;
    box-shadow: 2px 5px 10px 3px #AAAAAA;
    border: .5px solid grey;
    padding: 1em;
    padding-top: 0;
}
.info_lists h2{
    text-align: center;
}
#classes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}
#classes button{
    font-size: 16px;
    font-family: georgia;
    border-radius: 5px;
    background-color: white;
    border: none;
    transition-duration: 0.4s;
}
#classes button:hover{
    background-color: #c9c9c9;
    transform: scale(1.05);
    transition-duration: 0.3s;

}
#classes button span{
    font-style: italic;
    font-size: 12px;
}

/*Stying for the table*/
table{
    width: 100%;
}
/*1em will be 15 minutes*/
.times{
    text-align: center;
    height: 6em;
}

#labs{
    height: 12em;
}
tr th{
    vertical-align: top;
}
tbody td{
    text-align: center;
    position: relative;
}
td div{
    position: absolute;
    width: 100%;
    top: 0;
}   
tbody tr{
    height: 6em;
}

.cs435, .cs253, .cs392{
    height: 5em;
    background-color: #AAAAAA;
}
.cs101{
    height: 4em;
    background-color: #AAAAAA;

}
.lab{
    height: 11em;
    background-color: #AAAAAA;
}
.office_hour{
    height: 6em;
    background-color: #AAAAAA;
}

tr div{
    margin-top: 0.5em;
}
tr div span{
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.1s linear, opacity 0.1s linear;
    font-style: italic;
    font-weight: bold;  
}

/*These hovers are to display the class location*/
.cs435:hover > span, .cs101:hover > span, .cs392:hover > span, .cs253:hover > span, .lab:hover > span, .office_hour:hover > span{
    visibility: visible;
    opacity: 1;
}



/*****************
Style for 101.html
******************/
#oop_demo{
    width: 30%; /*Change in media query*/
    max-width: 400px;
    height: 500px;
    float: right;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    box-shadow: 3px 1px 1px grey;
    border: .5px solid grey;
    margin: 1em;
    color: #282828;

}
#oop_demo h3{
    height: 10%;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

#canvas{
    width: 100%;
    height: 80%;
    /*border: 2px solid black;*/
}
#list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#list div{/*This is for the newly created divs*/
    width: 50%;
    height: 8%;
    background-color: #686868;
    margin-top: 2%;
    text-align: center;
    color: #E8E8E8;
    font-family: sans-serif;
    padding: 5px;
}

#demo_buttons{/*This is a wrapper for the buttons*/
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10%;
}
.short_text{
    display: none;
}
.cond_buttons{
    width: 30%;
    height: 80%;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    font-family: serif;
    font-size: 1em;
    transition-duration: 0.2s;
}
.cond_buttons:hover{
    transform: scale(1.05);
    transition-duration: 0.3s;
}

#ll_info{
    text-align: center;
    font-style: italic;
}
#ll_print{
    font-style: normal;
    font-weight: bold;
}

@media(max-width: 600px){
    .short_text{
        display: inline-block;
        font-size: 2em;
    }
    table .short_text{
        font-size: 1em;
    }
    .full_text{
        display: none;
    }
    .top_content{
        flex-direction: column;
        align-items: center;
    }
    .block_1, .block_2, .side_picture{ /*I want to effect all children element of this flex container*/
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }
    .main_text, #oop_demo{
        width: 90%;
        margin: auto;
        margin-top: 5%;
    }
    #classes{
        flex-direction: column;
        align-items: center;
    }
}


