/*General attribute styling*/

body{
    background: #E8E8E8;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: georgia, serif;

    
}

/*
header{
    background-color: white;
    box-shadow: 3px 1px 1px black;
    color: #282828;
    top: 0;
    left: 0;
    position: relative;
    max-width: 1200px;
    height: 5em;
}
    */


header h1{
    text-align: center;
    font-size: 3em;
}
/*Main will act as a wrapper for the items within, make them a row and the media query can make them a column for mobile use*/
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main_text{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

}

/*These are all the left side blocks*/
.block_1, .block_2{
    background-color: white;
    margin-left: 1em;
    box-shadow: 3px 1px 1px grey;
    border: .5px solid grey;
    padding: 1em;
}
.block_1{
    max-width: 600px;
}
.main_text ul{
    list-style: none;
    width: 100%;
    padding: 0;
    text-align: center;
}
.main_text ul li{
    padding: .5em;
    font-size: 20px;
}

a{/*probably will want this global*/
    text-decoration: none;
    color: black;
    transition-duration: 0.2s;
}
a:hover{
    color: grey;
    transition-duration: 0.2s;
}

.main_text p{
    padding-left: 1em;
    padding-right: 1em;
    font-size: 20px;
}
/*For pictures or media on the side*/
.side_picture{
    width: 30%;
    max-width: 400px;
    height: auto;
    background-color: white;
    margin: 1em;
    padding: 0.5em;
    box-shadow: 3px 1px 1px grey;
    border: .5px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#old_seth{
    width: 100%;
}
#cv_button{
    width: 80%;
    height: 2em;
    font-size: 1em;
    border-radius: 10px;
    margin: 10px;
    border: none;
    background-color: white;
    transition-duration: 0.4s;
}
#cv_button:hover{
    background-color: #c9c9c9;
    transform: scale(1.05);
    transition-duration: 0.3s;
}
#cv_button a:hover{
    color: black;
}

footer{
    background-color: white;
    
}

/*Non-index specific stying*/
h1 span{
    font-size: .5em;
    font-weight: normal;
    font-style: italic;
}

/*****************
Style for 101.html
******************/
#oop_demo{
    width: 30%; /*Change in media query*/
    max-width: 400px;
    height: 500px;
    float: right;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    box-shadow: 3px 1px 1px grey;
    border: .5px solid grey;
    margin: 1em;
    color: #282828;

}
#oop_demo h3{
    height: 10%;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

#canvas{
    width: 100%;
    height: 80%;
    /*border: 2px solid black;*/
}
#list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#list div{/*This is for the newly created divs*/
    width: 50%;
    height: 8%;
    background-color: #686868;
    margin-top: 2%;
    text-align: center;
    color: #E8E8E8;
    font-family: sans-serif;
    padding: 5px;
}

#demo_buttons{/*This is a wrapper for the buttons*/
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10%;
}
.short_text{
    display: none;
}
.cond_buttons{
    width: 30%;
    height: 80%;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    font-family: serif;
    font-size: 1em;
    transition-duration: 0.2s;
}
.cond_buttons:hover{
    transform: scale(1.05);
    transition-duration: 0.3s;
}

#ll_info{
    text-align: center;
    font-style: italic;
}
#ll_print{
    font-style: normal;
    font-weight: bold;
}

@media(max-width: 600px){
    .short_text{
        display: inline-block;
        font-size: 2em;
    }
    .full_text{
        display: none;
    }
    main{
        flex-direction: column;
        align-items: center;
    }
    #main_text, #oop_demo{
        width: 90%;
        margin: auto;
        margin-top: 5%;
    }
}


